In [1]:
import numpy

In [2]:
np.eye(5)

NameError: name 'np' is not defined

In [3]:
import numpy as np

In [4]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [5]:
range(0,5)

range(0, 5)

In [6]:
np.arange(0,5)

array([0, 1, 2, 3, 4])

In [7]:
np.zeros(3)

array([0., 0., 0.])

In [8]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [9]:
np.zeros((2,3,2))

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

In [10]:
np.linspace(0,10,42)

array([ 0.        ,  0.24390244,  0.48780488,  0.73170732,  0.97560976,
        1.2195122 ,  1.46341463,  1.70731707,  1.95121951,  2.19512195,
        2.43902439,  2.68292683,  2.92682927,  3.17073171,  3.41463415,
        3.65853659,  3.90243902,  4.14634146,  4.3902439 ,  4.63414634,
        4.87804878,  5.12195122,  5.36585366,  5.6097561 ,  5.85365854,
        6.09756098,  6.34146341,  6.58536585,  6.82926829,  7.07317073,
        7.31707317,  7.56097561,  7.80487805,  8.04878049,  8.29268293,
        8.53658537,  8.7804878 ,  9.02439024,  9.26829268,  9.51219512,
        9.75609756, 10.        ])

In [11]:
np.random.rand(3,4)

array([[0.66796725, 0.6301592 , 0.18945652, 0.12755114],
       [0.17272186, 0.64404048, 0.52516039, 0.91505897],
       [0.63598449, 0.51899923, 0.33877382, 0.13133974]])

In [12]:
a = np.array([1,2,3,4])
b = np.array([True, False, True, False])

In [13]:
a[b]

array([1, 3])

In [14]:
a = [1,2,3]
b = [True, False, True]

In [16]:
a = [1,2,3,4]

In [17]:
b = np.array([True, False, True, False])
a[b]

TypeError: only integer scalar arrays can be converted to a scalar index

In [18]:
a = np.array([1,2,3,4])
b = np.array([True, False, True, False])

In [19]:
a[b]

array([1, 3])

In [20]:
outside = ['G1','G1','G1','G2','G2','G2']

In [21]:
inside = [1,2,3,1,2,3]

In [23]:
zip(outside,inside)

In [24]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [25]:
left = pd.DataFrame({'key1': ['K0','K0','K1','K2'],
                    'key2': ['K0','K1','K0','K1'],
                    'A': ['A0','A1','A2','A3'],
                    'B': ['B0','B1','B2','B3']})

NameError: name 'pd' is not defined

In [26]:
import pandas as pd

In [27]:
left = pd.DataFrame({'key1': ['K0','K0','K1','K2'],
                    'key2': ['K0','K1','K0','K1'],
                    'A': ['A0','A1','A2','A3'],
                    'B': ['B0','B1','B2','B3']})

In [28]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [29]:
right = pd.DataFrame({'key1': ['K0','K1','K1','K2'],
                    'key2': ['K0','K0','K0','K0'],
                    'C': ['C0','C1','C2','C3'],
                    'D': ['D0','D1','D2','D3']})

In [30]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [34]:
pd.read_csv('strategy/strat_general.csv',index_col = 0,sep = '\t')

    2 3 4 5 6 7 8 9 T A
H
4   H H H H H H H H H H
5   H H H H H H H H H H
6   H H H H H H H H H H
7   H H H H H H H H H H
8   H H H H H H H H H H
9   H D D D D H H H H H
T   D D D D D D D D H H
11  D D D D D D D D D D
12  H H S S S H H H H H
13  S S S S S H H H H H
14  S S S S S H H H H H
15  S S S S S H H H H H
16  S S S S S H H H H H
17  S S S S S H H H H H
18  S S S S S S S S S S
19  S S S S S S S S S S
20  S S S S S S S S S S
21  S S S S S S S S S S

In [35]:
import pandas_datareader.data

ModuleNotFoundError: No module named 'pandas_datareader'

In [36]:
import pandas_datareader.data

In [37]:
import datetime

In [38]:
start = datetime.datetime(2015,1,1)

In [39]:
end = datetime.datetime(2017,1,1)

In [40]:
facebook = web.DataReader('FB','google',start,end)

NameError: name 'web' is not defined

In [41]:
import pandas_datareader.data as web

In [42]:
facebook = web.DataReader('FB','google',start,end)

ImmediateDeprecationError:
Google finance has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [43]:
facebook = web.DataReader('FB','yahoo',start,end)

In [44]:
facebook

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-02,78.930000,77.699997,78.580002,78.449997,18177500,78.449997
2015-01-05,79.250000,76.860001,77.980003,77.190002,26452200,77.190002
2015-01-06,77.589996,75.360001,77.230003,76.150002,27399300,76.150002
2015-01-07,77.360001,75.820000,76.760002,76.150002,22045300,76.150002
2015-01-08,78.230003,76.080002,76.739998,78.180000,23961000,78.180000
2015-01-09,78.620003,77.199997,78.199997,77.739998,21157000,77.739998
2015-01-12,78.000000,76.209999,77.839996,76.720001,19190200,76.720001
2015-01-13,78.080002,75.849998,77.230003,76.449997,25179600,76.449997
2015-01-14,77.199997,76.029999,76.419998,76.279999,25741000,76.279999
2015-01-15,76.570000,73.540001,76.400002,74.050003,34134000,74.050003
2015-01-16,75.320000,73.839996,74.040001,75.180000,21791500,75.180000
2015-01-20,76.309998,74.820000,75.720001,76.239998,22821600,76.239998
2015-01-21,77.300003,75.849998,76.160004,76.739998,25096700,76.739998
2015-01-22,77.750000,76.680000,77.169998,77.650002,19519500,77.650002
2015-01-23,78.190002,77.040001,77.650002,77.830002,16746500,77.830002
2015-01-26,78.470001,77.290001,77.980003,77.500000,19260800,77.500000
2015-01-27,76.879997,75.629997,76.709999,75.779999,20110000,75.779999
2015-01-28,77.639999,76.000000,76.900002,76.239998,53306400,76.239998
2015-01-29,78.019997,74.209999,76.849998,78.000000,61293500,78.000000
2015-01-30,78.160004,75.750000,78.000000,75.910004,42649500,75.910004
2015-02-02,76.139999,73.750000,76.110001,74.989998,41955300,74.989998
2015-02-03,75.580002,73.860001,75.190002,75.400002,26957700,75.400002
2015-02-04,76.349998,75.010002,75.089996,75.629997,20277400,75.629997
2015-02-05,75.980003,75.209999,75.709999,75.610001,15062600,75.610001
2015-02-06,75.699997,74.250000,75.680000,74.470001,21211000,74.470001
2015-02-09,74.830002,73.449997,74.050003,74.440002,16194300,74.440002
2015-02-10,75.339996,74.500000,74.849998,75.190002,15811300,75.190002
2015-02-11,76.750000,75.029999,75.089996,76.510002,20877400,76.510002
2015-02-12,76.870003,75.889999,76.860001,76.230003,17235000,76.230003
2015-02-13,76.480003,75.500000,76.459999,75.739998,18621900,75.739998
...,...,...,...,...,...,...
2016-11-17,117.790001,116.010002,116.809998,117.790001,18597800,117.790001
2016-11-18,119.129997,116.839996,118.389999,117.019997,22879300,117.019997
2016-11-21,121.949997,117.800003,118.199997,121.769997,35415400,121.769997
2016-11-22,122.980003,120.900002,122.400002,121.470001,26089200,121.470001
2016-11-23,121.309998,119.940002,121.230003,120.839996,15672100,120.839996
2016-11-25,121.139999,120.070000,121.010002,120.379997,8658600,120.379997
2016-11-28,121.690002,119.820000,120.120003,120.410004,18101300,120.410004
2016-11-29,122.099998,120.400002,120.570000,120.870003,18891000,120.870003
2016-11-30,121.790001,117.949997,120.320000,118.419998,30188900,118.419998
2016-12-01,118.449997,114.000000,118.379997,115.099998,43277000,115.099998
2016-12-02,116.480003,114.300003,115.110001,115.400002,25070400,115.400002
2016-12-05,117.570000,115.070000,115.949997,117.430000,20201500,117.430000
2016-12-06,117.800003,116.330002,117.690002,117.309998,19131200,117.309998
2016-12-07,117.949997,116.570000,117.000000,117.949997,21913700,117.949997
2016-12-08,119.500000,117.639999,117.980003,118.910004,22442800,118.910004
2016-12-09,119.940002,118.949997,119.220001,119.680000,17464700,119.680000
2016-12-12,119.239998,117.650002,119.220001,117.769997,17805500,117.769997
2016-12-13,121.519997,117.610001,117.860001,120.309998,29768000,120.309998
2016-12-14,121.690002,118.849998,120.000000,120.209999,25913100,120.209999
2016-12-15,122.500000,119.629997,120.080002,120.570000,20139600,120.570000
2016-12-16,121.500000,119.269997,120.900002,119.870003,25324300,119.870003
2016-12-19,120.360001,118.510002,119.849998,119.239998,15918100,119.239998
2016-12-20,119.769997,118.800003,119.500000,119.089996,13684400,119.089996
2016-12-21,119.199997,118.480003,118.919998,119.040001,10767600,119.040001
2016-12-22,118.989998,116.930000,118.860001,117.400002,16258600,117.400002
2016-12-23,117.559998,116.300003,117.000000,117.269997,10890000,117.269997
2016-12-27,118.680000,116.860001,116.959999,118.010002,12051500,118.010002
2016-12-28,118.250000,116.650002,118.190002,116.919998,12087400,116.919998
2016-12-29,117.529999,116.059998,117.000000,116.349998,9934900,116.349998
2016-12-30,116.830002,114.769997,116.599998,115.050003,18684100,115.050003

In [45]:
path_general = "strategy/strat_general.csv"
		self.strat_g = pd.read_csv(path_general)

IndentationError: unexpected indent (<ipython-input-45-403b361850b2>, line 2)

In [46]:
self.strat_g = pd.read_csv(path_general)

NameError: name 'path_general' is not defined

In [47]:
path_general = "strategy/strat_general.csv"

In [48]:
self.strat_g = pd.read_csv(path_general)

NameError: name 'self' is not defined

In [49]:
strat_g = pd.read_csv(path_general)

In [50]:
strat_g

    H   2 3 4 5 6 7 8 9 T A
0   4   H H H H H H H H H H
1   5   H H H H H H H H H H
2   6   H H H H H H H H H H
3   7   H H H H H H H H H H
4   8   H H H H H H H H H H
5   9   H D D D D H H H H H
6   T   D D D D D D D D H H
7   11  D D D D D D D D D D
8   12  H H S S S H H H H H
9   13  S S S S S H H H H H
10  14  S S S S S H H H H H
11  15  S S S S S H H H H H
12  16  S S S S S H H H H H
13  17  S S S S S H H H H H
14  18  S S S S S S S S S S
15  19  S S S S S S S S S S
16  20  S S S S S S S S S S
17  21  S S S S S S S S S S

In [62]:
strat_g = pd.read_csv(path_general,sep = ' ').set_index('H')

In [63]:
strat_g

    2  3  4  5  6  7  8  9  T  A
H
4   H  H  H  H  H  H  H  H  H  H
5   H  H  H  H  H  H  H  H  H  H
6   H  H  H  H  H  H  H  H  H  H
7   H  H  H  H  H  H  H  H  H  H
8   H  H  H  H  H  H  H  H  H  H
9   H  D  D  D  D  H  H  H  H  H
T   D  D  D  D  D  D  D  D  H  H
11  D  D  D  D  D  D  D  D  D  D
12  H  H  S  S  S  H  H  H  H  H
13  S  S  S  S  S  H  H  H  H  H
14  S  S  S  S  S  H  H  H  H  H
15  S  S  S  S  S  H  H  H  H  H
16  S  S  S  S  S  H  H  H  H  H
17  S  S  S  S  S  H  H  H  H  H
18  S  S  S  S  S  S  S  S  S  S
19  S  S  S  S  S  S  S  S  S  S
20  S  S  S  S  S  S  S  S  S  S
21  S  S  S  S  S  S  S  S  S  S

In [59]:
strat_g.columns

Index(['H 2 3 4 5 6 7 8 9 T A'], dtype='object')

In [64]:
strat_g

    2  3  4  5  6  7  8  9  T  A
H
4   H  H  H  H  H  H  H  H  H  H
5   H  H  H  H  H  H  H  H  H  H
6   H  H  H  H  H  H  H  H  H  H
7   H  H  H  H  H  H  H  H  H  H
8   H  H  H  H  H  H  H  H  H  H
9   H  D  D  D  D  H  H  H  H  H
T   D  D  D  D  D  D  D  D  H  H
11  D  D  D  D  D  D  D  D  D  D
12  H  H  S  S  S  H  H  H  H  H
13  S  S  S  S  S  H  H  H  H  H
14  S  S  S  S  S  H  H  H  H  H
15  S  S  S  S  S  H  H  H  H  H
16  S  S  S  S  S  H  H  H  H  H
17  S  S  S  S  S  H  H  H  H  H
18  S  S  S  S  S  S  S  S  S  S
19  S  S  S  S  S  S  S  S  S  S
20  S  S  S  S  S  S  S  S  S  S
21  S  S  S  S  S  S  S  S  S  S

In [65]:
'6' in strat_g.index

False